html, body {
    margin: 10;
    padding: 10;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
    background: black;
}

.grid div {
    width: 15px;
    height: 15px;   
}

.pac-dot {
    background-color: yellow;
    border: 6px solid black;
    box-sizing: border-box;
}

.wall {
    background-color: black;
    box-sizing: border-box;
}

.wall-left {
    border-left: 1px solid blue;
}

.wall-top {
    border-top: 1px solid blue;
}

.wall-right {
    border-right: 1px solid blue;
}

.wall-bottom {
    border-bottom: 1px solid blue;
}

.power-pellet {
    background-color: peachpuff;
    border-radius: 7.5px;
    border: 3px solid black;
    box-sizing: border-box;
}

.pacman {
    background-image: url("./img/pacman-pixel-right.png");
    background-size: 15px;
}

.left {
    background-image: url("./img/pacman-pixel-left.png");
}
.right {
    background-image: url("./img/pacman-pixel-right.png");
}
.up {
    background-image: url("./img/pacman-pixel-up.png");
}
.down {
    background-image: url("./img/pacman-pixel-down.png");
}